@page "/Create/"
@model ContosoCrafts.WebSite.Pages.UpdateModel

@if (Model.SelectedProduct != null)
{
    <div class="card">
        <div class="card-body" style="text-align: center">
            <h2>Create Product</h2>
        </div>
    </div>
}