@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}
<h1> Welcome to Threads !!</h1>
<input type="text" id="myInput" placeholder="Search for products...">
<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUppercase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagNAme("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td><a asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                    <td><a asp-page="Update" asp-route-id="@product.Id">Update</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>