@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<img src="https://i.imgur.com/Ay7OxEH.png" alt="logo image" style="width:200px; height:auto;"/>
<h1> Welcome to Threads !!</h1>
@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
    
<script src="_framework/blazor.server.js"></script>