@page "/ProductDetails/{id}"
@model ContosoCrafts.WebSite.Pages.ReadModel

@if (Model.SelectedProduct != null)
{
    <div class="card">
        <div class="card-body" , style="text-align: center">
            <h2 style="color:#5b5b5b"> @Model.SelectedProduct.Title</h2>
            <p>@Model.SelectedProduct.Description</p>
            <img src="@Model.SelectedProduct.Image" class="img-fluid">

            <p>Category: <a href="/?tag=@Model.SelectedProduct.Category">#@Model.SelectedProduct.Category</a></p>
            <p>Size: <a href="/?tag=@Model.SelectedProduct.Size">#@Model.SelectedProduct.Size</a></p>
            <p>Color: <a href="/?tag=@Model.SelectedProduct.Color">#@Model.SelectedProduct.Color</a></p>
            <p>
                Material:
                @foreach (var material in Model.SelectedProduct.Material)
                {
                    <a href="/?tag=@material">#@material</a>
                }
            </p>
            <p>
                Style:
                @foreach (var style in Model.SelectedProduct.Style)
                {
                    <a href="/?tag=@style">#@style</a>
                }
            </p>

        </div>
    </div>
}
