@page "/product-details/{id}""
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService

@code {
    [Parameter] public string id { get; set; }
    ProductModel selectedProduct;

    protected override void OnInitialized()
    {
        // Fetch the product details using the product ID
        selectedProduct = ProductService.GetAllData().FirstOrDefault(p => p.Id == id);
    }
}

@if (selectedProduct != null)
{
    <div class="card">
        <div class="card-img" style="background-image: url('@selectedProduct.Image');"></div>
        <div class="card-body">
            <h2>@selectedProduct.Title</h2>
            <p>@selectedProduct.Description</p>
        </div>
        <div class="card-footer">
            <p>Rating: @if (selectedProduct.Ratings != null) {
                    @String.Format("{0:N1}", selectedProduct.Ratings.Average())
                }
                else {
                    No ratings yet.
                }
            </p>
        </div>
    </div>
}
else
{
    <p>Product not found.</p>
}